<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExcluirServlet</servlet-name>
        <servlet-class>servlets.ExcluirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServlet</servlet-name>
        <servlet-class>servlets.AlterarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarServlet</servlet-name>
        <servlet-class>servlets.AdicionarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnfavoritarServlet</servlet-name>
        <servlet-class>servlets.UnfavoritarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirServlet</servlet-name>
        <url-pattern>/ExcluirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServlet</servlet-name>
        <url-pattern>/AlterarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarServlet</servlet-name>
        <url-pattern>/AdicionarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnfavoritarServlet</servlet-name>
        <url-pattern>/UnfavoritarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
